* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #606c71;
}


.page-header {
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
  color: #fff !important;
  margin: 0 !important;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4 {
  text-align: center;
  color: #159957;
}

.page-section {
  text-align: justify;
  font-size: 16px;
  margin-top: 40px;
}

.heading-icon {
  font-size: 45px;
  text-align: center;
  width: 100%;
}
